@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  /*============== Fonts ===============*/
  --body-font: 'Poppins', sans-serif;

  /*========= Cores =========*/
  --title-color: #0D0D0D;
  --button-color: #2DA63F;
  --button-color-hover: #228831;
  --theme-color: #D9D9D9;

  /*========= Cores =========*/
  --border-radius: 10px;

}

/*==================== BASE ======================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  background-color: var(--theme-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  min-height: 90vh;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
}

button {
  background-color: var(--button-color);
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 160px;
}

button:hover {
  background-color: var(--button-color-hover);
  transition: 0.2s;
  transform: translateY(-2px);
}

label {
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

td input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 2px;
  font-size: 16px;
}

.buttons_container {
  top: 22px;
  right: 10px;
  position: absolute;
}

.top_btns {
  margin-top: 20px;
  margin-left: 4px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.top_btns:hover {
  background-color: #45a049;
  transition: 0.1s;
  transform: translateY(-2px);
}


.header_container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.epsilon-inputField {
  width: 72px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
}

.order-input button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 4px;
}

.order-input button:hover {
  background-color: #45a049;
}

.matriz_container {
  display: flex;
  justify-content: center;
}

.matriz_container tr {
  display: flex;
  justify-content: center;
}

.subtitle {
  display: flex;
  justify-content: center;
}

.matrix-title {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #666;
}

.matriz_container {
  display: flex;
  justify-content: flex-start;
}

.matriz_container div {
  margin-right: 20px;
}

.matriz_container table {
  display: flex;
  flex-direction: column;
}

.matriz_container td {
  display: flex;
  justify-content: center;
}

.matriz_container tr {
  display: flex;
  justify-content: center;
}

.chute-container {
  margin-left: 10px;
}

#calculate-btn {
  margin-top: 20px;
  margin-left: auto;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#calculate-btn:hover {
  background-color: var(--button-color-hover);
  transition: 0.1s;
  transform: translateY(-2px);
}

.top-button {
  margin-top: 20px;
  margin-left: 4px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#result h2 {
  margin-bottom: 10px;
  margin-top: 0px;
  color: #333;
  display: flex;
  justify-content: center;
}

#iterations-container {
  margin-bottom: 20px;
}

#iterations-container ul {
  margin-top: 8px;
}

#solution-container {
  margin-bottom: 0px;
  margin-top: 30px;
}

#solution-container h2 {
  margin-top: 0;
  color: #333;
}

#solution-container ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0px;
}

#solution-container li {
  margin-bottom: 5px;
  color: #242121;
  font-weight: bold;
}

.iteration {
  margin-bottom: 20px;
}

.iteration h3 {
  margin: 0;
  color: #333;
}

.iteration table {
  margin-top: 5px;
  border-collapse: collapse;
}

.iteration td {
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-align: center;
  color: #333;
}

.iteration td:first-child {
  font-weight: bold;
}

.footer {
  color: #666;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}